.my-menu {
  font-size: 32px;
  background-color: white;
}

.menu-title {
  margin-left: 2px;
}

.columns.is-mobile {
  width: 24rem;
  margin-top: 0;
}

.column.is-3{
  background-color: #37475f;
  height: 20rem;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 0%;
}

.columns.is-mobile>.column.is-3 {
  width: 50%;
}

.menu-label {
  color: #f18484;
  margin-left: 5px;
  font-size: 13px;
}

.menu-list a {
  color: #f1d2d2;
  font-family: "courier";
  font-size: 12px;
}

.nav-item {
  margin-left: 6px;
}