.navbar.is-info {
  background-color: #37475f;
}

div.hero-body {
  background-color: #5997bf;
}

.login {
  color: white;
}

body {
  background-color: #e2f4ff;
}

.column.is-half.is-offset-one-quarter {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.5);
  background-color: #669ec1;
}

.navbar-item {
  font-size: 32px;
  line-height: 2;
}

.navbar {
  min-height: 4.25rem;
}

.navbar-burger {
  height: 4.25rem;
  width: 4.25rem;

  span {
    height: 2px;
    width: 23px;
  }

  span:nth-child(1) {
    top: calc(50% - 8px);
  }

  span:nth-child(2) {
    top: calc(50% - 2px);
  }

}

.navbar-burger.is-active {
  span:nth-child(1) {
    top: calc(50% - 7px);
  }

  span:nth-child(3) {
    top: calc(50% - -3px);
  }
}

div.columns.features {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;

}

.fa {
  margin-right: 0.5rem;
  font-size: 20px;
  width: 18.5px;
}

