.navbar-item {
  font-size: 32px;
  line-height: 2;
}

.navbar {
  min-height: 4.25rem;
}

.navbar-burger {
  height: 4.25rem;
  width: 4.25rem;

  span {
    height: 2px;
    width: 23px;
  }

  span:nth-child(1) {
    top: calc(50% - 8px);
  }

  span:nth-child(2) {
    top: calc(50% - 2px);
  }

}

.navbar-burger.is-active {
  span:nth-child(1) {
    top: calc(50% - 7px);
  }

  span:nth-child(3) {
    top: calc(50% - -3px);
  }
}
